[Unit]
Description=Starting-petclinic-as-service
Requires=cloud-sql-proxy-service
After=cloud-sql-proxy-service

[Service]
WorkingDirectory=/opt/petclinic
ExecStart=java -jar -Dspring.profiles.active=mysql {{ jar_file_name }}
Restart=always
User=petclinic

[Install]
WantedBy=multi-user.target
